// .button {
.button {
    width: 27.7rem;
    height: 5.4rem;
    border-radius: 5rem;
    background: $color-white;
    border: none;
    color: $color-grey;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: scale(1.1);
        box-shadow: $shadow;
    }
    &_header {
        margin-top: 5rem;
        animation: buttonUp 2s ease-in-out 1s 1;

        &:not(:hover) {
            transform: scale(1);
            transition: transform 0.5s ease-in-out; /* Добавляем анимацию для плавного возврата в начальное значение */
        }
    }
    &_feedback {
        margin: 1.5rem auto 8rem;
        z-index: 1;
    }
}
